@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Average);

body {
 
  background-image:url('img/light-bg1.png');
  font-size: 20pt;
  text-align: center;
  font-family: 
  
}

.start {
  display: block;
  background-color: greenyellow;
  width: 5em;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
border-radius: 2.5em;
  line-height: 5em;
}

.start: hover {
  transition: background-color 1s;
  background-color: pink;
  
}
}